@mixin expR {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: 400;
}

@mixin expB {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: 700;
}

@mixin mol {
    font-family: 'Molengo', sans-serif;
    font-weight: 400;

}